# Project Ignores Files 

# Eclipse
.settings
.classpath
.project

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store

#spring
.springBeans
