p, h1, h2, h3, h4, h5 {
	margin-bottom: 0;
}

a, a:hover {
	color: #fff;
	text-decoration: none;
}

.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
	opacity: 0.85;
	height: calc(100vh - 40rem);
	min-height: 18rem;
}

.jumbotron h1 {
	font-size: 4rem;
}
.jumbotron p {
	font-size: 2rem;
}
.item-container {
	border-style: solid;
  	border-width: 0.125rem;
	border-color: #eee;
}

.item-container:hover {
	transform: scale(1.01);
	box-shadow: 0 5px 8px 5px rgba(0,0,0, 0.12);
	transition: ease-in-out 0.2s;
}

.item-container:hover .badge {
	right: 0;	
}

.item-container .badge {
	position: absolute;
	top: 0;
	right: 1rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}
				

.item-container img {
	width: 100%;
}

